@import './@index.scss';

.baner-container{
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    min-height: 600px;
    position: relative;
    // DONT DELETE BORDER ==========
    // border: 1px solid $netflix-black;
    z-index: 1;
    .baner-content{
        padding-top: 10rem;
        padding-right: 1rem;
        padding-left: 1rem;
        z-index: 10;
        .baner-movie-name{
            font-size: 28px;
            font-weight: 700;
        }
        .baner-overview{
            font-size: 18px;
            font-weight: 400px;
            padding-bottom: 2rem;
        }
        .baner-hint{
            text-align: center;
            font-size: 18px;
            padding-bottom: 40px;
        }
        // === MEDIA QUERYS ===
        @media (min-width: 576px) {
            .baner-movie-name{
                font-size: 50px;
            }
        }
        @media (min-width: 1400px) {
            .baner-movie-name{
                font-size: 64px;
            }
        }
    }
    // === MEDIA QUERYS ===
    @media (min-width: 768px) {
        .baner-content{
            padding-left: 2rem;
        }
    }
    @media (min-width: 1024px) {
        .baner-content{
            padding-left: 3rem;
        }
    }

    @media (min-width: 1400px) {
        .baner-content{
            padding-left: 4rem;
        }
    }
    
    .black-fog{
        height: 8rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(
            180deg,transparent,rgba(37,37,37,0.61),$netflix-black
        );
    
    }
}
