@import './@index.scss';

.baner-container{
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    position: relative;
    // DONT DELETE BORDER ==========
    border: 1px solid $netflix-black;
    z-index: 1;
    .baner-content{
        margin: 140px auto 120px auto;
        z-index: 10;
        .baner-welcom-title{
            font-size: 28px;
            text-align: center;
            font-weight: 700;
        }
        .baner-middle-title{
            font-size: 18px;
            text-align: center;
            padding-bottom: 2rem;
        }
        .baner-hint{
            text-align: center;
            font-size: 18px;
            padding-bottom: 40px;
        }
        @media (min-width: 576px) {
            .baner-welcom-title{
                font-size: 50px;
            }
            .baner-middle-title{
                font-size: 26px;
            }
        }
        @media (min-width: 1400px) {
            .baner-welcom-title{
                font-size: 64px;
            }
        }
    }
    .black-fog{
        height: 8rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(
            180deg,transparent,rgba(37,37,37,0.61),$netflix-black
        );
    
    }
}
