@import './@index.scss';

.baner-container {
    margin-top: $header-hight;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    position: relative;
    z-index: 1;
    .baner-content {
        max-width: 1600px;
        padding: 0 1rem;
        margin: 0 auto;
        padding-top: 7rem;
        padding-bottom: 5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        z-index: 10;
        .baner-movie-name {
            font-size: 36px;
            font-weight: 700;
        }
        .baner-overview {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400px;
            padding-bottom: 2rem;
        }
        .baner-buttons-row {
            display: flex;
            gap: 0.7rem;
            z-index: 10;
            .baner-button {
                background-color: $black-glass;
                font-weight: 400;
                padding: 0.5rem 0.75rem;
                // margin-left: 2rem;
                // justify-content: space-between;
            }
        }
    }
    // === MEDIA QUERYS ===
    @media (min-width: $xs) {
        .baner-content {
            // margin-left: 30px;
            // .baner-movie-name {
            //     font-size: 46px;
            //     padding-right: 30%;
            // }
            // .baner-overview {
            //     padding-right: 30%;
            // }
            .baner-buttons-row {
                .baner-button {
                    padding: 0.5rem 1rem;
                }
            }
        }
    }

    @media (min-width: $sm) {
        .baner-content {
            // margin-left: 30px;
            .baner-movie-name {
                font-size: 46px;
                padding-right: 30%;
            }
            .baner-overview {
                padding-right: 30%;
            }
            .baner-buttons-row {
                .baner-button {
                    padding: 0.5rem 1.5rem;
                }
            }
        }
    }
    @media (min-width: $md) {
        .baner-content {
            // margin-left: 50px;
            .baner-movie-name {
                font-size: 60px;
                padding-right: 50%;
            }
            .baner-overview {
                padding-right: 50%;
            }
        }
    }
    @media (min-width: $xl) {
        .baner-content {
            // margin-left: 80px;
            .baner-movie-name {
                font-size: 72px;
            }
        }
    }

    .black-fog {
        height: 8rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            $netflix-black
        );
    }
}
@media (min-width: $sm) {
    .baner-container {
        min-height: 200px;
    }
}
@media (min-width: $md) {
    .baner-container {
        min-height: 300px;
    }
}
@media (min-width: $lg) {
    .baner-container {
        min-height: 400px;
    }
}
@media (min-width: $xl) {
    .baner-container {
        min-height: 500px;
    }
}
@media (min-width: $xxl) {
    .baner-container {
        min-height: 600px;
    }
}
