@import './@index.scss';

.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $less-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    background-color: $black-glass;
    &:hover {
        cursor: pointer;
    }
}
.square-button {
    background-color: $black-glass;
    font-weight: 400;
    padding: 0.5rem 1.5rem;
    display: flex;
    max-width: 10rem;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    border-radius: $br-main;
    color: $light;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.small-circle-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $less-white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-glass;
    &:hover {
        border: 1px solid $light;
        cursor: pointer;
    }
}
.more-info-button-text {
    display: none;
}
@media (min-width: $xs) {
    .more-info-button-text {
        display: block;
    }
}
