@import './@index.scss';
// .--test {
//     color: #fff;
//     font-weight: 900;
//     border: 1px solid red;
// }
// .active {
//     font-weight: 700;
//     transform: scale(1.1);
//     // color: $light;
//     // opacity: 1;
// }
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $nav-black;
    z-index: 2;
    .header-wrapper {
        height: $header-hight;
        gap: 1rem;
        display: flex;
        align-items: center;
        padding: 1rem;
        position: relative;
        .navbar {
            position: absolute;
            top: $header-hight;
            left: 0;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            width: 100%;
            gap: 1rem;
            background-image: linear-gradient(
                0deg,
                transparent,
                rgba(37, 37, 37, 0.61),
                $netflix-black
            );
        }
        .user-avatar {
            width: 30px;
            border-radius: $br-main;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (min-width: $sm) {
    .header {
        .header-wrapper {
            .navbar {
                position: relative;
                top: 0;
                left: 0;
                width: auto;
                background-image: none;
            }
        }
    }
}
