@import './@index.scss';
// .--test {
//     color: #fff;
//     font-weight: 900;
//     border: 1px solid red;
// }
// .active {
//     font-weight: 700;
//     transform: scale(1.1);
//     // color: $light;
//     // opacity: 1;
// }
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $nav-black;
    z-index: 3;
    transition: left 500ms linear;
    .header-wrapper {
        border: 1px solid red;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .netflix-logo {
            img {
                width: 100px;
                object-fit: contain;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
        .user-avatar {
            img {
                width: 35px;
                object-fit: contain;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (min-width: $sm) {
    .header {
        left: 0;
        min-height: $header-hight;

        .header-wrapper {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}
