@import './@index.scss';

.modal-layout {
    min-width: 100%;
    min-height: 100vh;
    background-color: $black-glass;
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    z-index: 10;
    .modal-content {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
        .show-more-icon-box {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            min-width: 100%;
            display: flex;
            justify-content: center;
            z-index: 11;
            .show-more-icon {
                z-index: 10;
                opacity: 0.3;
                transition: opacity 0.3s linear;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
        .more-info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            min-width: 100%;
            background-color: $netflix-gray;
            border-radius: 0 0 $br-main $br-main;
            padding: 1rem;
            transition: all 0.8s linear;
        }

        .open-info {
            opacity: 1;
            visibility: visible;
        }
        .close-info {
            opacity: 0;
            visibility: hidden;
        }
    }
    // === MEDIA QUERYS ===
    @media (min-width: $sm) {
        .modal-content {
            margin-top: 70px;
        }
    }
    @media (min-width: $md) {
        .modal-content {
            margin-top: 90px;
        }
    }
    @media (min-width: $xl) {
        .modal-content {
            margin-top: 110px;
        }
    }
}
.hidden-modal {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}
