@import './@index.scss';

.modal-layout{
    min-width: 100%;
    min-height: 100vh;
    background-color: $black-glass;
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 0;
    z-index: 10;
    .modal-content{
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        margin-top: 50px;
        .modal-more-info{
            min-height: 100px;
            background-color: $netflix-gray;
            border-radius: 0 0 $br-main $br-main;
            padding: 1rem;
        }
    }
        // === MEDIA QUERYS ===
    @media (min-width: $sm) {
        .modal-content{
            margin-top: 70px;
        }
    }
    @media (min-width: $md) {
        .modal-content{
            margin-top: 90px;
        }
    }
    @media (min-width: $xl) {
        .modal-content{
            margin-top: 110px;
        }
    }

}
.hidden-modal{
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}