@import './@index.scss';

.slider-container {
    position: relative;
    .row-title {
        color: #fff;
        padding: 10px 20px;
    }
    .row-movies {
        display: flex;
        overflow-x: scroll;
        padding: 20px 20px 5px 20px;
        position: relative;
        .movie-card {
            min-width: 290px;
            height: 163px;
            margin-right: 12px;
            transition: transform 400ms linear;
            position: relative;
            z-index: 3;
            &:hover {
                transform: scale(1.07);
                .movie-card-controls {
                    z-index: 3;
                    opacity: 1;
                    visibility: visible;
                }
            }
            .movie-card-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .movie-card-controls {
                z-index: -3;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                transition: opacity 400ms linear;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                display: flex;
                padding: 0 0.5rem;
                .poster-controls-info {
                    flex: 1;
                    .poster-play-button {
                        margin-top: 50px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-left: 5px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .genres-row {
                        display: flex;
                        .genre-item {
                            font-size: 12px;
                            margin-right: 3px;
                        }
                    }
                }

                .poster-controls-buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .circle {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 1px solid white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $black-glass;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .arrow-icons-wrapper {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 0;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 4;
        .arrow {
            pointer-events: all;
            visibility: visible;
            opacity: 1;
            cursor: pointer;
        }
        .hidden-arrow {
            visibility: hidden;
            opacity: 0;
        }
    }

    .row-movies::-webkit-scrollbar {
        display: none;
    }
}
.--hidden-row {
    width: 100%;
    height: 1px;
    background-color: $netflix-black;
}
