@import './@index.scss';

.my-list {
    width: 100%;
    min-height: 100vh;
    background-color: $netflix-black;
    padding: 1rem;
    .my-list-title {
        padding-top: $header-hight;
        padding-bottom: 1rem;
        padding-left: 1rem;
        font-weight: 400;
    }

    ul{
        .saved-movie:last-child{
            border-bottom: 1px solid #333;
        }
        .saved-movie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px 0;
            border-top: 1px solid #333;
            transition: background-color 300ms linear;
            position: relative;
            &:hover {
                background-color: #202020;
            }
            .movie-and-controls{
                position: relative;
                display: flex;
                align-items: center;
                .movie-name-for-tablet{
                    display: none;
                }
                .poster-and-play{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding-left: 10px;
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr;
                    opacity: 0;
                    transition: opacity 200ms linear;
                    &:hover{opacity: 1;}
                    .delete-button{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        padding-right: 10px;
                    }
                    .play-button{
                        display: flex;
                        align-items: center;
                        padding-left: 115px;
                    }
                    .movie-name-for-mobile{
                        border: 1px solid red;
                        display: flex;
                        // .item-date {
                        //     font-weight: 400;
                        //     padding-left: 1.5rem;
                        // }
            
                    }
                }
    
            }
            // .remove-icon-box {
            //     width: 50px;
            //     height: 50px;
            //     border-radius: 50%;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     transition: background-color 300ms linear;
            //     &:hover {
            //         cursor: pointer;
            //         background-color: $netflix-black;
            //     }
            // }
        }
    }
}
@media (min-width: $xs) {
    .my-list{
        .my-list-title{
            padding-bottom: 1rem;
            padding-left: 0;
        }
        ul{
            .saved-movie {
                .movie-and-controls{
                }
            }
        }
    
    }
}
@media (min-width: $sm) {
    .my-list{
        .my-list-title{
            padding-bottom: 2rem;
            padding-left: 0;
        }
        ul{
            .saved-movie {
                .movie-and-controls{
                    .movie-name-for-tablet{
                        display: block;
                        padding-left: 1rem;
                    }
                    .poster-and-play{
                        .movie-name-for-mobile{
                            display: none;
                        }
                    }
                }
            }
        
        }
    
    }

}


