@import './@index.scss';

.my-list-page {
    padding-top: $header-hight;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: 1;
    .my-list-content {
        display: grid;
        width: 100%;
        min-height: calc(100vh - $header-hight);
        grid-template-columns: 1fr;
        gap: 1rem;
        background-color: $black-glass;
        padding: 1rem;
        .my-list-movie {
            // max-width: 620px;
            // min-height: 250px;
            max-height: 280px;
            margin: 0 auto;
            position: relative;
            border: 1px solid red;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: top center;
            }
            .my-list-movie-info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 1rem;
                .my-list-movie-name {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    @media screen and (min-width: $sm) {
        .my-list-content {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }
    @media screen and (min-width: $lg) {
        .my-list-content {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
        }
    }
}
