@import './@index.scss';

.navbar {
    display: flex;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
    .nav-link-active {
        color: #fff;
        font-weight: 900;
    }
    .nav-link {
        color: #fff;
        font-weight: 300;
    }
}
